.root {
  text-align: center;

  &-link {
    color: #61dafb;
  }

  &-logo {
    height: 40vmin;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #282c34;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__main {
    font-size: 20px;
    color: red;
  }
}
.display_none{
  display: none;
}